@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('img/paper.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333; /* Color de letra principal */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Tamaño de letra para el título */
    color: #007bff; /* Color de título */
}

.form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}